language = "bash"
env[user=$LT_USERNAME, key=$LT_ACCESS_KEY]
run = """
wget https://downloads.lambdatest.com/hyperexecute/linux/hyperexecute
chmod u+x hyperexecute
./hyperexecute -user -key -i yaml/linux/testng_hyperexecute_autosplit_sample.yaml
"""
